{% extends "layout.html.twig" %}

{% block title %}{{ pokemon.name }}{% endblock %}
{% block content %}
	<script>pokemons[{{ pokemon.id }}]=(JSON.parse(("{{ pokemon.json }}").replace(/\&quot;/g,'"')));</script>

<p>
   <h2>{{ pokemon.name }} <img id="pokemon_level" src="{{ pokemon.image }}"></h2></h2>
    <p>Type: 
		<strong>
			{{ pokemon.type_1 }}
				{% if pokemon.id_type_2 %}
					{{ pokemon.type_2 }}
				{% endif %}
		</strong>
	</p>
    {% if pokemon.level %}
		
		<p>level :		
				<strong id="pokemon_level" >{{  pokemon.level }}</strong>
		</p>
		<p>entraineur: 
			<a href="{{ path('trainer', { 'id': pokemon.id_trainer }) }}">
				<strong >{{ pokemon.trainer.name}}</strong>
			</a>
		</p>
	{% endif %}
    
	
    <p>attaque: 
		{% if pokemon.id_attack %}
				<strong>{{ pokemon.attack }}</strong> (débloquée  {% if pokemon.level<pokemon.level_evolution %}à partir du {% else %}depuis le {% endif %} niveau: {{ pokemon.level_attack_unlocked }})<br>	
				<em>{{ pokemon.desc_attack }}</em>
		{% else %}
			<em>ce pokemon est sauvage: il n'a pas été entrainé.<em>
		{% endif %}
	</p>
	
    <p>évolution: 
		{% if pokemon.id_parent %}
			<a href="{{ path('pokemonfiche', { 'id': pokemon.id_parent }) }}">
				<strong id="pokemon_parent" >{{ pokemon.parent }}</strong>
			</a>			
		{% else %}
			niveau max.
		{% endif %}
	</p>
    {% if pokemon.level_evolution %}
		<p>level_evolution: <strong id="pokemon_.level_evolution" >{{ pokemon.level_evolution }}</strong></p>
	{% endif %}

</p>
{% endblock %}
